body {
  font-family: 'Gotham Pro', sans-serif;
  color: #23262F;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  color: inherit;
}

.container {
  width:1120px;
  margin:0 auto;
}

.flex-row {
  display: flex;
  align-items: center;
}

.white-button {
  padding:16px 24px 14px 24px;
  background-color: #FCFCFD;
  border:1px solid #777E90;
  border-radius: 90px;
  cursor: pointer;
}

header {
  height: 88px;
}

header .logo img {
  height: 88px;
  width: 165px;
}

header .content {
  justify-content: space-between;
}

header .menu {
  padding: 0;
  margin:0;
  list-style: none;
}


header .menu li {
  margin-left: 40px;
}
header .menu li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding:6px 10px 5px 10px;
  border-radius: 10px;
  transition: 300ms;
}
header .menu li a:hover {
  background-color: rgba(255,255,255,0.5);
}

header .buttons {
  height: 40px;
  display: flex;
}
header .buttons a {
  text-decoration: none;
  width: 48px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  border-radius: 10px
}
header .buttons a:hover {
  background-color: rgba(255,255,255,0.5);
}
header .buttons a.only-text {
  width: auto;
  padding:0 24px;
}


.hero {
  height: 860px;
  position: relative;
  }



.hero .bg-img {
  left:0;
  right:0;
  position: absolute;
  height: 720px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}


.hero .title-desc {
  position: absolute;
  bottom: 316px;
  width: 100%;
  z-index: 2;
}

.hero .title-desc h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  /* identical to box height, or 105% */
  letter-spacing: -0.01em;
  margin: 0 0 16px 0;
}
.hero .title-desc p{
  width: 650px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  margin:0;
}

.hero .title-desc button {
  background: #23262F;
  color: #FCFCFD;
  border-radius: 90px;
  border:0;
  padding: 16px 24px;
  font-size: 14px;
  cursor: pointer;
  transition: 300ms;
  margin-top: 24px;
}
.hero .title-desc button:hover{
  background: #FCFCFD;
  color: #23262F;
}

.hero .title-desc .content {
  position: relative;
  width: 657px;
  height: 311px;
}

.hero .title-desc .content .bg {
  position: absolute;
  z-index: -1;
  left: -81px;
  top: -41px;
}


.hero .search-box {
  position: absolute;
  bottom: 0;
  width: 100%;
}



.hero .search-box .content {
  height: 216px;
  background: linear-gradient(109.65deg, rgba(246, 243, 241, 0.9) 25.17%, rgba(246, 243, 241, 0.9) 78.73%);
  border: 1px solid #E6E8EC;
  backdrop-filter: blur(32px);
  border-radius: 24px;
  padding: 40px;
}

.hero .search-box .tab-menu {
  border-bottom: 1px solid rgba(119, 126, 145, .5);
  padding:0;
  margin:0;
  list-style: none;
  display: flex;
}
.hero .search-box .tab-menu li {
  margin-right: 48px;
}
.hero .search-box .tab-menu li {
  text-decoration: none;
  padding-bottom: 30px;
  display: block;
  font-size: 16px;
  color: #777E91;
  cursor: pointer;
}

.hero .search-box .tab-menu li.is-active {
  color: #23262F;
  position: relative;
}
.hero .search-box .tab-menu li.is-active:after {
  content:'';
  height: 1px;
  background-color: #23262F;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
}
.hero .search-box .tab-content {
  display: none;
  justify-content: space-between;
  padding-top: 20px;
}
.hero .search-box .tab-content.is-active {
  display: flex;
}

.hero .search-box .tab-content .step {
  display: flex;
  align-items: center;
}

.hero .search-box .tab-content .step-badge {
  padding:9px 12px;
  background-color: #CFF3FF;
  border-radius: 100px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.hero .search-box .tab-content .step-badge img {
  margin-right: 4px;
  width: 14px;
}
.hero .search-box .tab-content .step-text {
  font-size: 18px;
  font-weight: 500;
}
.hero .search-box .tab-content button {
  margin-right: 20px;
}


.about {
  padding:120px 0;
}

.about .flex-row {
  margin:0 -16px;
  flex-wrap: wrap;
}

.about .col {
  width: 50%;
  padding:0 16px;
}
.about .card img {
  width:100%;
} 
.about .card {
  position: relative;

}

.about .products {
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 18px;
  background: linear-gradient(83.59deg, #FCFCFD 36.52%, rgba(252, 252, 253, 0.83) 98.8%);
  box-shadow: 0px 40px 64px -32px rgba(15, 15, 15, 0.1);
  backdrop-filter: blur(32px);
  border-radius: 24px;
  padding: 18px 32px;
}


.about .products a {
  margin-right: 28px;
  text-decoration: none;
}
.about .products img {
  width: 70px;
}
.about .products button {
  margin-left: auto;
}


.news {
  margin-bottom: 120px;
}

.news .container > .content {
  background: #F6F3F1;
  border-radius: 24px;
  margin:0 -80px;
  padding: 80px;
}   

.news .title-area h2{
  margin:0;
  font-size: 48px;
}

.news .title-area p {
  font-size: 24px;
  line-height: 32px;
  color: #777E91;
  width: 500px;
  margin:12px 0 0 0;
}

.news .tab-menu {
  margin-top: 64px;
  margin-bottom: 48px;
  justify-content: space-between;
}
.news .tab-menu ul {
  padding: 0;
  margin: 0;
  list-style:none;
}
.news .tab-menu ul a {
  text-decoration: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.news .tab-menu ul a.is-active {
  background: #FCFCFD;
  border-radius: 100px;
}

.news .tab-menu ul li {
  margin-right: 16px;
}
.news .tab-menu ul a img {
  margin-right: 6px;
}
.news .tab-menu ul a span {
  padding-top:2px;
}
.news .tab-menu .sorting .icon {
  width: 32px;
  height: 32px;
  background: #FCFCFD;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
}
.news .tab-menu .sorting span {
  padding-top: 2px;
  font-size: 14px;
}

.news .cards {
  margin: 0 -16px -32px -16px;
  flex-wrap: wrap;
  align-items: stretch;
}
.news .cards .col {
  width: 25%;
  padding:0 16px 32px 16px;
}
.news .cards .col.double {
  width: 50%;

}
.news .cards .card > img {
  width: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.news .card {
  background-color: #FCFCFD;
  position: relative;
  border: 1px solid #E6E8EC;
  border-radius: 24px;

}
.news .card .content {
  padding: 24px 18px 32px 18px;
}
.news .card .content .title {
  font-size: 16px;
  font-weight: 400;
  margin:0;
}
.news .card .content p {
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
  margin:8px 0 0 0;
}

.news .card .tag {
  text-decoration: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  position: absolute;
  left: 18px;
  top:16px;
  border-radius: 100px;
}

.news .card .tag img {
  margin-right: 6px;
}
.news .card .tag span {
  padding-top:2px;
}

.news .col.buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: -16px 0;
}

.news .col.buttons .row {
  height: 33.333333%;
  padding: 16px 0;
}
.news .col.buttons button {
  height: 100%;
  width: 100%;
  border: 1px solid #E6E8EC;
  border-radius: 24px;
}

.section {
height: 68px;
justify-content: space-between;  
}

.section p {
  font-weight: 700;
font-size: 48px;
line-height: 56px;
letter-spacing: -0.01em;
color: #23262F;
}

.section-p {
margin: 12px 0 0 0;
font-weight: 400;
font-size: 24px;
line-height: 32px;
color: #777E91;
}

.arrows {
width: 88px;
height: 40px;
}

.arrow1 {
margin-right: 21px;
}

.arrow2 {

}

.slider {
  max-height: 270px;
  display: flex;
  overflow-x: auto;
  padding: 0;
  margin: 80px 0px 0px 0px;
  position: relative;

}

.slider::-webkit-scrollbar {
  width: 0;
}


.slider .item {
width: 256px;
height: 256px;
margin: 0 32 0 0;
padding: 0;
position: relative;
z-index: -1;
}

.avatar {
width: 48px;
height: 48px;
background: #E6E8EC;
border-radius: 64px;
position: relative;
}

.slider-card {
position: relative;
}

.date {
position: relative;
padding: 8px 12px 6px;
background: #D9DADB;
border-radius: 32px;
border: 1px solid #F6F3F1;
font-weight: 400;
font-size: 10px;
}

.avatar-area {
align-items: center;
padding: 0px;
gap: 8px;
position: absolute;
width: 137px;
height: 48px;
left: 12px;
top: 198px;
}

.line {
height: 1px;
background: #E6E8EC;
margin: 120px 80px 120px 80px;
padding: 0px;
}

.subscribe-area {
  position: relative;
  margin:0 -80px;
  background-image: url(../img/subscribe_cat.png);
  padding: 80px;
}

.subscribe .subscribe-area h1 {
font-weight: 700;
font-size: 48px;
line-height: 56px;
text-align: center;
letter-spacing: -0.01em;
}

.subscribe .subscribe-area p {
font-weight: 400;
font-size: 24px;
line-height: 32px;
text-align: center;
letter-spacing: -0.01em;
color: #777E91;
}

.subscribe-email {
display: flex;
flex-direction: column;
align-items: center;
}

.subscribe-email .email p {
font-weight: 400;
font-size: 14px;
line-height: 24px;
align-items: center;
color: #777E91;
}

#sub-down {
font-weight: 400;
font-size: 14px;
line-height: 32px;
text-align: center;
letter-spacing: -0.01em;
color: #777E91;
}

footer {
background-color: #F6F3F1;
height: 300px;
padding: 80px 160px 117px 160px;
}

.nav-col {
flex-direction: column;
align-items: flex-start;
padding: 0px;
font-weight: 400;
font-size: 14px;
line-height: 32px;
color: #777E90;
margin-right: 32px;
width: 160px;

}

.f-logo {
width: 166px;
height: 90px;
margin-right: 122px;
justify-content: center;
align-items: center;
}

.f-logo img {
  border-radius: 8px;
}


.email-col {
flex-direction: column;
align-items: flex-start;
padding: 0px;
font-weight: 400;
font-size: 14px;
line-height: 32px;
color: #777E90;
margin-right: 32px;
}

.email-col p {
  margin: 0 0 16px 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #23262F;
}

.email-area {
  position: relative;
}

.email {
  padding: 14px 16px;
  width: 255px;
  height: 48px;
  border: 1px solid #777E91;
  background: #FCFCFD;
  border-radius: 90px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777E91;
}

.email-button {
position: absolute;
background: #23262F;
border-radius: 100px;
justify-content: space-between;
right: 8px;
width: 32px;
height: 32px;
}

.copyright {
align-items: flex-start;
padding: 24px 0px 24px 0px;
margin-top: 48px;
width: 1120px;
height: 69px;
font-weight: 400;
font-size: 12px;
line-height: 20px;
color: #777E91;
}


/*CATALOG*/

.filters {
  position: absolute;
  bottom: 80px;
  width: 100%;
}

.filter {
justify-content: space-between;
padding: 40px;
background: linear-gradient(109.65deg, rgba(246, 243, 241, 0.95) 25.17%, rgba(246, 243, 241, 0.95) 78.73%);
border: 1px solid #E6E8EC;
backdrop-filter: blur(32px);
border-radius: 24px;
}

.filter-left {
  gap: 12px;
}

.filter-left h1 {
  margin: 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #23262F;
}

.filter-right .cross  {
  padding: 10px 20px;
  margin-right: 8px;
  gap: 8px;
  height: 36px;
  background: #FCFCFD;
  border-radius: 100px;
  border-color: #FCFCFD ;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.shopping-area {
  margin-top: 857px;
  margin-bottom: 80px;
}

.shopping-area .container > .card-area {
  padding: 0 0 48px 0;
  margin: 0 -0px; 
}

.card-area .cards {
  margin: 0 -16px -47px -16px;
  flex-wrap: wrap;
  align-items: stretch;
}

.card-area .cards .column {
  width: 33.333333%;
  padding: 0 16px 47px 16px;

}

.s-card {
  position: relative;
  border: 1px solid #E6E8EC;
  border-radius: 24px;
}

.card-img {
  padding: 16px;
  height: 188px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background: #74C0E7;
}

.card-nav {
  position: absolute;
  height: 32px;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
  gap: 212px;
}

.s-button {
  padding: 11px 8px 9px 8px;
  background: linear-gradient(108.83deg, #DEDEDE 4.85%, rgba(252, 252, 253, 0.83) 98.01%);
  border-radius: 8px;
  border-color: #DEDEDE;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #23262F;
}

.box-img {
  position: absolute;
  width: 108px;
  height: 154px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  margin: 0 106px;
}

.card-title {
  padding: 24px;
  column-gap: 16px;
}

.title-info {
  width: 304px;
  height: 76px;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.title-column {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
padding: 0px;
gap: 8px;
width: 236px;
height: 76px;
}

.title-column h1 {
  font-size: 18px;
  line-height: 24px;
  color: #141416;
  height: 48px;
}

.title-column p {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
  height: 20px;
}

.chicken {
  padding: 8px 8px 6px;
  width: 36px;
  height: 36px;
  background: #CFF3FF;
  border-radius: 4px;
  margin-bottom: 40px;
}


.size {
  height: 23px;
  margin-top: 16px;
  gap: 23px;
  padding: 0px;
}

.size button {
padding: 4px 8px;
width: 41px;
background: #F6F3F1;
border-radius: 12px;
border: none;
font-weight: 700;
font-size: 12px;
line-height: 15px;
color: #777E91;
}

 .size .first-b {
  background: #777E91;
  color: #F6F3F1;
  border: none;
}

.size p {
  width: 48px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #23262F;
}

.s-line {
  width: 304px;
  height: 1px;
  background: #E6E8EC;
  border-radius: 1px;
  margin: 16px 0 16px 0;
}

.buy{
  justify-content: space-between;
  padding: 0px;
  width: 304px;
  height: 48px;
}

.s-circle {
  align-items: center;
  padding: 16px;
  width: 48px;
  height: 48px;
  background: #23262F;
  border-radius: 90px;
}

.c-button {
width: 256px;
background: #FCFCFD;
border: 1px solid #777E91;
border-radius: 90px;
margin-left: 432px;
padding: 16px 24px;
}


/*PRODUCT*/

.product-hero {
  position: relative;
}

.main-banner {
  left:0;
  right:0;
  position: absolute;
  height: 726px;
  background-image: url(../img/main-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}

.br_cr ul {
  list-style: none;
  padding: 0px;
  margin: 12px 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #23262F;
  opacity: 0.8;
}

.br_cr ul img {
  margin: 1px 4px;
}

.main {
  position: absolute;
  width: 100%;
}

.main-img {
  padding: 111px 140px;
  background: #C1C4C6;
  border-radius: 24px 0px 0px 0px;
}

.main-img img {
  width: 264px;
  height: 376px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}

.main-info {
  padding: 93px 70px 0px 64px;
  background: #FCFCFD;
  border-radius: 0px 24px 0px 0px;
}

.main-tags {
  margin-bottom: 22px;
  gap: 8px;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}

.main-tags .tag1 {
  padding: 11px 8px 9px 6px;
  border-radius: 8px;
  background: linear-gradient(108.83deg, #B8BCBE 4.85%, #DADADA 98.01%);
  color: #23262F;
}

.main-tags .tag2 {
  padding: 11px 8px 9px 6px;
  border-radius: 8px;
  background: #23262F;
  color: #F6F3F1;
}

.main-title h1 {
  margin: 0px;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #141416;
}

.main-p1 {
  margin-top: 22px;
  margin-bottom: 8px;
}

.main-p1 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #777E91;
}

.main-p2 p {
  margin: 0px;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #23262F;
}

.size-tags {
  gap: 20px;
  margin-top: 34px;
  margin-bottom: 40px;
}

.size-tags p {
  margin: 0px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #23262F;
}

.size-tags .first-b {
  background: #777E91;
  color: #F6F3F1;
}

.size-tags button {
  width: 41px;
  padding: 4px 8px;
  background: #F6F3F1;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #777E91;  
}

.main-price {
  justify-content: space-between;
}

.main-price p {
  margin: 0px;
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  color: #262D33;
}

.main-price .cart {
  padding: 16px 24px;
  gap: 12px;
  background: #23262F;
  border-radius: 90px;
  border: none;
  margin-right: 24px;
}

.cart p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FCFCFD;
}

.price-fav  {
  padding: 16px;
  background: #F3E3FA;
  border-radius: 90px;
  border: none;
}

/*DROP LIST*/

.drop-list {
  margin-top: 809px;
  margin-bottom: 80px;
  padding: 24px 0px 0px 0px;
}

.drop {
  justify-content: space-between;
  margin: 0 96px;
}

.drop h2 {
  margin: 1px 0px;
  padding: 24px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #262D33;
}

.drop img {
  padding: 12px 12px 10px 10px;
}

.drop-line {
  margin: 0 96px;
  height: 1px;
  background: #E6E8EC;
  border-radius: 1px;
}

/*INFO*/

.info {
  margin-bottom: 80px; 
 }

.column-info {
  padding: 0px 54px;
  width: 50%;
  margin-left: 42px;
  place-self: flex-start;
}

.column-info h3 {
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #23262F;
}

.column-info p{
  padding: 8px 0px 16px 0px;
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #777E91;
}

.column-rate {
  width: 50%;
  padding: 0 54px;
  margin-right: 42px;
}

.column-rate h2 {
  padding-bottom: 16px;
  margin: 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #262D33;
}

.column-rate .rate-title img {
  margin: -14px 0px 0px 4px;
}

.rate-section .rate {
  gap: 14px;
  padding-bottom: 15px;
}

.rate-section .rate p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #777E91;
}

.rate-section .rate img {
  height: 5px;
  width: 300px;
}

.column-rate p {
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #23262F;
}

.column-rate button {
  margin-top: 16px;
  padding: 16px 24px;
  height: 48px;
  background: #FCFCFD;
  border: 1px solid #777E91;
  border-radius: 90px;
}


/*COMMENTS*/

.comments {
}

.comment-line {
  margin: 40px 96px 40px 96px;
  height: 1px;
  background: #E6E8EC;
  border-radius: 1px;
}

.comment {
  margin: 0 96px;
}

.comment-top {
}

.comment-top .star {
  margin: 0px 20px 26px 30px;
}

.comment-top .comment-title {
  width: 611px;
}

.comment-top .comment-title h2 {
  margin: 0px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
}

.comment-top .comment-title p {
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #777E91;
}

.comment-top .comment-tags {
  margin-left: 49px;
}

.comment-top .comment-tags .like {
  padding: 16px;
  height: 48px;
  background: #F3E3FA;
  border-radius: 90px;
  border: none;
  margin-right: 8px;
}

.comment-top .comment-tags .dislike {
  padding: 16px;
  width: 64px;
  height: 48px;
  background: #F6F4F1;
  border-radius: 90px;
  border: none;
}

.comment-row {
  gap: 20px;
}

.comment-row h3 {
  margin: 0px;
  padding-top: 20px;
  width: 105px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #777E91;
}

.comment-row p {
  margin: 0px;
  padding-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #777E91;
}

.comments-number {
  justify-content: end;
  margin: 20px 96px 0px 96px;
  gap: 2px;
}

.comments .c-button {
  width: 256px;
  background: #FCFCFD;
  border: 1px solid #777E91;
  border-radius: 90px;
  padding: 16px 24px;
  margin: 80px 432px;

  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #23262F;
}



