@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  src: url(GothamPro.woff2) format('woff2');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 300;
  src: url(GothamPro-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 500;
  src: url(GothamPro-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
  src: url(GothamPro-Bold.woff2) format('woff2');
}
